/*


   1-base
   2-sidebar
   3-profile
   4-header
   - bootstrap
*/

@font-face {
  font-family: "JannaLT-Regular";
  src: url("../fonts/jannal/jannalTRegular.eot?#iefix") 
  format("embedded-opentype"), url("../fonts/jannal/jannalTRegular.woff") 
  format("woff"), url("../fonts/jannal/jannalTRegular.ttf") 
  format("truetype"), url("../fonts/jannal/jannalTRegular.svg#JannaLT-Regular") format("svg"); 
}
/*
 * Droid Arabic Naskh (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'DroidArabicNaskh';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.eot);
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'DroidArabicNaskh';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.eot);
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.ttf) format('truetype');
}
body{
    overflow-x: hidden;
}
p،div,span{
  font-family: 'DroidArabicNaskh';
}
h1,h2,h3,h4,h5,a,label,.link-sidebar ,.alert{
  font-family: "JannaLT-Regular";
}
.pull-right {
    float: left !important;
}
.pull-left {
    float: right !important;
}
.heading-three h4 {
    text-align: right;
}
textarea.form-control{
    text-align: right;
}
.form-control{
    text-align: right;
    font-family: "JannaLT-Regular";
}
.circel-ico i {
    color: #3C4858;
    text-align: center;
    padding: 4px 0 0 5px;
}
 .heading-background span{
    float: right;
}
.divid-profile .btn.btn-fab.btn-fab-mini{
    left: 15px;
    right: auto;
}
.comment-past ul li img{
    float:right;
    margin-right: 0;
    margin-left: 15px;
}
.comment-past ul li .clear,
.comment-past ul li .time{
    right:auto;
    left: 15px;
    font-size: 11px;
    font-family: "JannaLT-Regular";
}
.last-comment ul li{
    padding: 10px 15px;
}
.comment-past ul li p {
    float: none;
    margin-right: 55px;
}
/*-----  sidebar ----*/
.profile-userbuttons {
    text-align: center;
    display: block;
    clear: both;
    padding-top: 20px;
}
.profile-sidebar .profile-usertitle {
    text-align: right;
    margin-right:10px;
    margin-left: 0;
    float: right;
}
.avatar-wrapper {
    display: inline-block;
    float: right;
}
.profile-usertitle-name {
    font-family: "JannaLT-Regular";
}
.profile-usertitle-job{
font-family: 'DroidArabicNaskh';
}
.s-tabs-follow p{
    border-right: 1px solid #e3e3e3;
    border-left: transparent;
}
.sidebar .body-view ul li a span {
    margin-left: 10px;
}
.profile-wrapper h5{
    text-align: right;
    font-family: "JannaLT-Regular";
}
.profile-sidebar .profile-follow .follow h5{
    text-align: center;
}
.profile-sidebar .profile-follow .follow:first-child{
    border-left: 1px solid #e3e3e3;
    border-right: 0;
}
.language {
    float: left;
}
.profile-sidebar  .open > .dropdown-menu {
    display: block;
    left: 0;
    right: auto;
    top: 37px;
}
.copyright span {
    font-size: 13px;
}
.panel-post > .panel-heading > img{
    margin-right:0;
    margin-left: 15px;
}
.panel-post > .panel-heading > h5 span{
    font-family: "JannaLT-Regular";
}
.panel-post > .panel-heading > h5,
.panel-post > .panel-heading > h4{
    text-align: right;
}
.panel-post > .panel-heading > .setting-post{
    right: auto;
    left: 15px;
    padding: 0 0;}
.panel-post > .panel-heading > .setting-post .dropdown-menu{
left: auto;
    width: 140px;
    right: -140px;
}
.panel-comment .btn-comm {
    float: left;}

/*navbar*/
.navbar {
    direction: initial;
}
.navbar .navbar-brand img {
    margin-left: 8px;
    margin-right: 0;
}
.navbar-brand {
text-align: left;
    direction: initial;
}
.navbar-brand  span{
    margin-left: 10px;
}
.navbar-right {
    float: right !important;
}
.navbar-left {
    float: left !important;
}
.navbar-nav > li {
    float: left;
}
.nav-sidebar .active:before{
    right: auto;
    left: -16px;
    background: url(../img/nav-arr-right.png) no-repeat left top;
}
#navbar-profile  .navbar-nav > li {
    float: right;
}
.profile-usermenu .nav{
    padding: 0 0;
}
.profile-sidebar .profile-usermenu ul li a {
    font-family: "JannaLT-Regular";
}
.profile-sidebar .profile-usermenu ul li a i{
    margin-right: 0;
    margin-left: 5px;
}
#bell, #bell-message, #bell-friends {
    float: left;
}
#main-header{
    float: left;
}
.profile-setting{
    float: left;
}
.header .navbar-header{
    float: right;
}
.card .card-image {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}
.card .card-title {
    float: right;
    width: 74%;
}
.content-tabs{
  padding-right: 15px;
    padding-left: 0;
  }
.card .footer .stats .material-icons{
    margin-left: 5px;
}
.card .footer .author {
    float: left;
}
/* discover */
.b-post .btn-attached-b{
    right:auto;
    left: 10px;
}
.more-height-post , input{
       font-family: "JannaLT-Regular";
}
/*-- button --*/
.btn-fill ,.btn-base {
    font-family: "JannaLT-Regular";
    font-size: 14px;
}
.setting-sb{
    margin-right: 10px;
}
.alert-dismissable .close, .alert-dismissible .close{
    left: auto;
    right: 15px;
}
.btn{
    font-family: "JannaLT-Regular";
}
/* profile */
.avatar-wrapper:hover .uploadbtn,.avatar-wrapper .uploadbtn{
    right: 13px;
}
.interaction-user {
    left: 0px;
    right:auto;
}
.sb-profile-text h4,.sb-profile-text h5,.sb-profile-text h6,.sb-profile-text p{
    margin-right: 10px;
    margin-left: 0;

}
.sb-profile-text a{
    margin-right: 5px;
    margin-left: 0;
}
.heading-background{
    margin-top: 0;
}
.close{
    float: left;
}
.divid-profile .timeline{
    margin-right: 40px;
    margin-left: 0;
}
.divid-profile .timeline:before {
    right: -30px;
    left:auto;

}
.divid-profile .timeline:after {

    right: -36px;
    left:auto;

}
.divid-profile .timeline img {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}
.divid-profile .timeline .paragraph{
    float: right;
}
.fluid-read .one, .fluid-read .two, .fluid-read .three {
    right: 0px;
    left: auto;
    bottom: -8px;
}

.timeline-over:hover .btn-edit,
.timeline-over:hover .btn-delet {
    opacity: 1;
    left: 5px;
    right:auto;
}
.btn-edit,.btn-delet {
    left: 34px;
}
.card .content .btn-edit {
    left: 13px;
    right: auto;
}
.divid-profile .skills .endor{
    border-radius: 0 5px 5px 0;
}
.divid-profile .artical{
    margin-right: 0;
}
.summry:hover .btn-edit {
    left: 15px;
    right:auto;
}
/*profile company */
.heading-primary .icon-heading{
    left:auto;
    right: 0;
}
.heading-primary{
    padding-left: 0px;
    padding-right: 50px;
}
.uploadbtn{
    left: auto;
    right: 36px;
}
.heading-scend i{
    float: right;
    margin-right: 0;
    margin-left: 15px;
}
.artical{
    font-family: "JannaLT-Regular";
}
.divid-profile .artical{
    margin-top: 15px;
}
.btn-edit-profile{
    left: auto;
    right: 220px;
}
.summry:hover .btn-edit-profile{
    right: 220px;
}
.overview .artical p{
    margin-right: 0;
    margin-left: 50px;
}
.introduction-co{
    margin-top: 20px;
}
.heading-three h4{

}
.btn-new{
    right: auto;
    left: 0;
    border-left:0;
    border-right:1px solid #e3e3e3;
}
.title-pages {
    font-family: "JannaLT-Regular";
}

.list-jobs h4, .list-jobs h5, .list-jobs span{
    margin-left: 0;
    margin-right: 20px;
}
.list-jobs .btn-base{
    left: auto;
    right: 20px;
}
.email-verified{
    left: auto;
    right: 15px;
}
.group-setting {
    right: auto;
    left: 30px;}
.header-job h5 i{
    margin-right:0;
    margin-left: 10px;
}
/* setting */
.bg-tabs fieldset .list-group li{
    text-align: left;
}
.bg-tabs fieldset .list-group li .fa{
    float: left;
}
.verified, .unverified, .primary{
    right:auto;
    left: -140px!important;
}
.primary{
    left:auto;
}
.radio label{
    padding-right: 35px;
    padding-left:0;
}
.radio label span{
    left: auto;
    margin-right: -20px;
}
.changepass input{
    direction: ltr !important;
}
.input-group .form-control:last-child, .input-group-addon:last-child,
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
        border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group{
    margin-right: -2px;
    margin-left: 0;
}
.heading-filter span.sort {
    margin-left: 10px;
    margin-right: 0;
    float: right;
}
.s-tabs-follow p:first-child {
    border-right: transparent;
}
/* search */
.search-wrapper .btn-search{
    border-radius:  8px 0 0 8px;
}
.search-wrapper .form-input{
    border-radius: 0 8px 8px 0;
    margin-left: -1px;
}
.wrapper-search .panel-group .panel-heading h4 span{
    margin-right: 0;
    margin-left:15px;
}
.checkbox .checkbox-material{
    padding-left:5px;
    padding-right:0;
}
.checkbox .checkbox-material .check:before{
margin-right: 10px;
    margin-left: 0;
}
.sidebar .users-view h6 + a{
    margin-left: -30px;
    margin-right: 10px;
}
/*--- main ----*/
.profile-setting img{
    margin:0 0;
}
.filter h5{
    text-align: right;
    margin-right: 15px;
}
.filter .filter-setting{
    right: auto;
    left: 20px;
}
.panel-comment img{
    margin-left: 4px;
}
.panel-comment > .panel-textarea{
    float:left;
}
.head-sidebar .link-sidebar i{
    float:left;
}
.input-link-post .input-group-addon, 
.input-link-post .input-group-addon:first-child{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.panel-comment .btn-base, .panel-comment .btn-dev{
    float: left;
}
.panel-post > .panel-body .paragraph p{
    font-size: 16px;
}
.panel-post > .panel-body .title-post{
    line-height: 23px;
    font-size: 17px;
}
/*----- header -----*/
.list-app{
        text-align: center;
}
.noti-container header a, 
.noti-message header a, 
.noti-friends header a{
float: left;
}
.noti-container header, 
.noti-message header, 
.noti-friends header {
    height: 40px;
    padding-top: 10px;
}
.noti-container header h3, 
.noti-message header h3, 
.noti-friends header h3{
    float: right;

}
.noti-container ul li h4, 
.noti-message ul li h4, 
.noti-friends ul li h4{
    margin-right: 65px;
}
.noti-container ul li p, 
.noti-message ul li p, 
.noti-friends ul li p{
    margin-right: 65px;
    margin-left: 0;
    text-align: right;
}
.noti-container ul li .time, 
.noti-container ul li .clear, 
.noti-message ul li .time, 
.noti-message ul li .clear, 
.noti-friends ul li .time, 
.noti-friends ul li .clear{
    left:15px;
    right: auto;
}
.noti-container ul li img, 
.noti-message ul li img,
 .noti-friends ul li img{
    float: right;
 }
 .noti-container, 
 .noti-message, 
 .noti-friends{
    right: -230px;
    left: auto;
 }
 .noti-container:before, 
 .noti-message:before, 
 .noti-friends:before{
    left: 33px;
    right: auto;
 }
 .noti-container ul li .btn-accept, 
 .noti-message ul li .btn-accept, 
 .noti-friends ul li .btn-accept{
    right: auto;
    left: 15px;
 }
 /*---- navbar ---- */
 .nav-sidebar .active {
    border-left: transparent;
    border-right: 1px solid #03c3ce;
    margin-right: -1px;
    margin-left: 0;
    position: relative;
}
.nav-sidebar .active:after {
    content: "";
    height: 16px;
    width: 16px;
    background: url(../img/active-nav-arr.png) no-repeat left center;
    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    left: auto;
    right: 0;
    margin-top: -8px;
}
 /*----  edit form ------- */
 .form-group {
    margin-bottom: 5px;
}
.decrease ,.increase{
    padding: 10px 9px;
    border:1px solid #cccccc;
}
.input-group-addon,.input-group-addon:first-child{
    border:1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.panel-post > .panel-body{
    text-align: right;
}
.panel-footer .btn-footer{
    float: right;

}
.panel-footer .btn-footer:first-child{
    margin-left:0;
    margin-right:10px;
}
.panel-footer > .add-comment > .input-placeholder{
    text-align: right;
    padding-right: 10px;
    font-size: 15px;
}
.head-sidebar .suggest-friends{
    float: right;
    margin: 7px 0 0 5px;
}
.head-sidebar .suggest{
    float: right;
    margin: 5px 0 0 5px;
}
.head-sidebar .link-sidebar{
    float: left;
}
.head-sidebar {
    text-align: right;
    float: right;
    width: 100%;
}
.btn-accept{
    right: auto;
    left: 10px;
}
.friend-list-sidebar li img{
    float: right;
}
.friend-list-sidebar li h5{
    float: right;
    margin-left: 10;
    margin-right: 5px;
    vertical-align: middle;
    text-align: right;
    line-height: 39px;

}
.copyright{
    text-align: right;
    margin-left: 10px;
}
.copyright img{
    float: right;
    margin-left: 10px;
}
.head-sidebar span{
    font-family: "JannaLT-Regular";
    float: right;
    margin-left: 10px;
    margin-right: 0;
}
.search .dropdown-menu > li > a{
    text-align: right;
}
.panel-post > .panel-heading > .setting-post .dropdown-menu li a i{
    margin-right: 0;
    float: right;
    margin-left: 5px;
}
.panel-post > .panel-heading > .setting-post .dropdown-menu li a{
    text-align: right;
}
.list-interesting .thumbnail{
    float: right;
    margin-top: 10px;
}
.alert-info{
    text-align: right;
}
.alert-dismissable .close, .alert-dismissible .close{
    right: auto;
    left: -5px;
    top:-15px;
}
.b-post .img-post-b{
    left: auto;
    right:  -29px;
}
.b-post .btn-attached-b,
.b-post .btn-b{
    float: left;
}
.b-post .text-post textarea{
    text-align: right;
}
/**/
/*---- bootstrap ----*/
.dropdown-menu{
    left: 0!important;
    right: auto!important;
}
.thumbnail .caption{
    text-align: right;
}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
    float: right;
}
.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    left: auto;
}

.col-xs-push-12 {
    right: 100%;
}

.col-xs-push-11 {
    right: 91.66666667%;
}

.col-xs-push-10 {
    right: 83.33333333%;
}

.col-xs-push-9 {
    right: 75%;
}

.col-xs-push-8 {
    right: 66.66666667%;
}

.col-xs-push-7 {
    right: 58.33333333%;
}

.col-xs-push-6 {
    right: 50%;
}

.col-xs-push-5 {
    right: 41.66666667%;
}

.col-xs-push-4 {
    right: 33.33333333%;
}

.col-xs-push-3 {
    right: 25%;
}

.col-xs-push-2 {
    right: 16.66666667%;
}

.col-xs-push-1 {
    right: 8.33333333%;
}

.col-xs-push-0 {
    right: auto;
}

.col-xs-offset-12 {
    margin-right: 100%;
}

.col-xs-offset-11 {
    margin-right: 91.66666667%;
}

.col-xs-offset-10 {
    margin-right: 83.33333333%;
}

.col-xs-offset-9 {
    margin-right: 75%;
}

.col-xs-offset-8 {
    margin-right: 66.66666667%;
}

.col-xs-offset-7 {
    margin-right: 58.33333333%;
}

.col-xs-offset-6 {
    margin-right: 50%;
}

.col-xs-offset-5 {
    margin-right: 41.66666667%;
}

.col-xs-offset-4 {
    margin-right: 33.33333333%;
}

.col-xs-offset-3 {
    margin-right: 25%;
}

.col-xs-offset-2 {
    margin-right: 16.66666667%;
}

.col-xs-offset-1 {
    margin-right: 8.33333333%;
}

.col-xs-offset-0 {
    margin-right: 0;
}
@media (min-width:768px) {
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
        float: right;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-pull-11 {
        right: 91.66666667%;
    }

    .col-sm-pull-10 {
        right: 83.33333333%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-8 {
        right: 66.66666667%;
    }

    .col-sm-pull-7 {
        right: 58.33333333%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-5 {
        right: 41.66666667%;
    }

    .col-sm-pull-4 {
        right: 33.33333333%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-2 {
        right: 16.66666667%;
    }

    .col-sm-pull-1 {
        right: 8.33333333%;
    }

    .col-sm-pull-0 {
        left: auto;
    }

    .col-sm-push-12 {
        right: 100%;
    }

    .col-sm-push-11 {
        right: 91.66666667%;
    }

    .col-sm-push-10 {
        right: 83.33333333%;
    }

    .col-sm-push-9 {
        right: 75%;
    }

    .col-sm-push-8 {
        right: 66.66666667%;
    }

    .col-sm-push-7 {
        right: 58.33333333%;
    }

    .col-sm-push-6 {
        right: 50%;
    }

    .col-sm-push-5 {
        right: 41.66666667%;
    }

    .col-sm-push-4 {
        right: 33.33333333%;
    }

    .col-sm-push-3 {
        right: 25%;
    }

    .col-sm-push-2 {
        right: 16.66666667%;
    }

    .col-sm-push-1 {
        right: 8.33333333%;
    }

    .col-sm-push-0 {
        right: auto;
    }

    .col-sm-offset-12 {
        margin-right: 100%;
    }

    .col-sm-offset-11 {
        margin-right: 91.66666667%;
    }

    .col-sm-offset-10 {
        margin-right: 83.33333333%;
    }

    .col-sm-offset-9 {
        margin-right: 75%;
    }

    .col-sm-offset-8 {
        margin-right: 66.66666667%;
    }

    .col-sm-offset-7 {
        margin-right: 58.33333333%;
    }

    .col-sm-offset-6 {
        margin-right: 50%;
    }

    .col-sm-offset-5 {
        margin-right: 41.66666667%;
    }

    .col-sm-offset-4 {
        margin-right: 33.33333333%;
    }

    .col-sm-offset-3 {
        margin-right: 25%;
    }

    .col-sm-offset-2 {
        margin-right: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-right: 8.33333333%;
    }

    .col-sm-offset-0 {
        margin-right: 0;
    }
}
@media (min-width:992px) {
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
        float: right;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-pull-11 {
        right: 91.66666667%;
    }

    .col-md-pull-10 {
        right: 83.33333333%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-8 {
        right: 66.66666667%;
    }

    .col-md-pull-7 {
        right: 58.33333333%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-5 {
        right: 41.66666667%;
    }

    .col-md-pull-4 {
        right: 33.33333333%;
    }

    .col-md-pull-3 {
        right: auto;
        left: 25%;    
    }

    .col-md-pull-2 {
        right: 16.66666667%;
    }

    .col-md-pull-1 {
        right: 8.33333333%;
    }

    .col-md-pull-0 {
        left: auto;
    }

    .col-md-push-12 {
        right: 100%;
        left: auto;
    }

    .col-md-push-11 {
        right: 91.66666667%;
        left: auto;
    }

    .col-md-push-10 {
        right: 83.33333333%;
        left: auto;
    }

    .col-md-push-9 {
        right: 75%;
        left: auto;
    }

    .col-md-push-8 {
        right: 66.66666667%;
        left: auto;
    }

    .col-md-push-7 {
        right: 58.33333333%;
        left: auto;
    }

    .col-md-push-6 {
        right: 50%;
        left: auto;
    }

    .col-md-push-5 {
        right: 41.66666667%;
        left: auto;
    }

    .col-md-push-4 {
        right: 33.33333333%;
        left: auto;
    }

    .col-md-push-3 {
        right: 25%;
        left: auto;
    }

    .col-md-push-2 {
        right: 16.66666667%;
        left: auto;
    }

    .col-md-push-1 {
        right: 8.33333333%;
        left: auto;
    }

    .col-md-push-0 {
        right: auto;
    }

    .col-md-offset-12 {
        margin-right: 100%;
    }

    .col-md-offset-11 {
        margin-right: 91.66666667%;
    }

    .col-md-offset-10 {
        margin-right: 83.33333333%;
    }

    .col-md-offset-9 {
        margin-right: 75%;
    }

    .col-md-offset-8 {
        margin-right: 66.66666667%;
    }

    .col-md-offset-7 {
        margin-right: 58.33333333%;
    }

    .col-md-offset-6 {
        margin-right: 50%;
    }

    .col-md-offset-5 {
        margin-right: 41.66666667%;
    }

    .col-md-offset-4 {
        margin-right: 33.33333333%;
    }

    .col-md-offset-3 {
        margin-right: 25%;
    }

    .col-md-offset-2 {
        margin-right: 16.66666667%;
    }

    .col-md-offset-1 {
        margin-right: 8.33333333%;
    }

    .col-md-offset-0 {
        margin-right: 0;
    }
}
@media (min-width:1200px) {
    .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
        float: right;
    }


    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        left: auto;
    }

    .col-lg-push-12 {
        right: 100%;
    }

    .col-lg-push-11 {
        right: 91.66666667%;
    }

    .col-lg-push-10 {
        right: 83.33333333%;
    }

    .col-lg-push-9 {
        right: 75%;
    }

    .col-lg-push-8 {
        right: 66.66666667%;
    }

    .col-lg-push-7 {
        right: 58.33333333%;
    }

    .col-lg-push-6 {
        right: 50%;
    }

    .col-lg-push-5 {
        right: 41.66666667%;
    }

    .col-lg-push-4 {
        right: 33.33333333%;
    }

    .col-lg-push-3 {
        right: 25%;
    }

    .col-lg-push-2 {
        right: 16.66666667%;
    }

    .col-lg-push-1 {
        right: 8.33333333%;
    }

    .col-lg-push-0 {
        right: auto;
    }

    .col-lg-offset-12 {
        margin-right: 100%;
    }

    .col-lg-offset-11 {
        margin-right: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-right: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-right: 75%;
    }

    .col-lg-offset-8 {
        margin-right: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-right: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-right: 50%;
    }

    .col-lg-offset-5 {
        margin-right: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-right: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-right: 25%;
    }

    .col-lg-offset-2 {
        margin-right: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-right: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-right: 0;
    }
}